<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="close()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Sleepiness Log Edit</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{ sleepinessLog.sleepinessTitle() }}
      </ion-card-title>
      <ion-card-subtitle>
        {{ sleepinessLog.sleepinessSubtitle() }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col>
          {{ sleepinessLog.sleepiness }}: {{ sleepinessLog.description }}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Update Sleepiness</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div>
        <h2>How sleepy are you feeling right now?</h2>
        <ion-range
          [snaps]="true"
          [pin]="true"
          [min]="1"
          [max]="7"
          [value]="sleepiness"
          [(ngModel)]="sleepiness"
        >
          <ion-icon slot="start" name="happy-outline"></ion-icon>
          <ion-icon slot="end" name="sad-outline"></ion-icon>
        </ion-range>
      </div>
      <h2 class="ion-padding-vertical">When did you feel this sleepy?</h2>
      <ion-datetime [(ngModel)]="sleepinessDate"></ion-datetime>
    </ion-card-content>
  </ion-card>
</ion-content>