<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Overnight Sleep</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Overnight Sleep</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Overnight Sleep Log</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="sleep-log-data">
        <h2>What time did you sleep?</h2>
        <ion-datetime-button
          datetime="sleep-start"
          class="ion-padding-top"
        ></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime
              id="sleep-start"
              [(ngModel)]="sleepStart"
            ></ion-datetime>
          </ng-template>
        </ion-modal>
      </div>
      <div class="ion-padding-vertical">
        <h2>What time did you wake up?</h2>
        <ion-datetime-button
          datetime="sleep-end"
          class="ion-padding-top"
        ></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="sleep-end" [(ngModel)]="sleepEnd"></ion-datetime>
          </ng-template>
        </ion-modal>
      </div>
      <div class="ion-padding-vertical">
        <ion-label>Notes</ion-label>
        <ion-textarea placeholder="Optional sleep log notes." [(ngModel)]="notes"></ion-textarea>
      </div>
      <ion-button expand="block" shape="rounded" (click)="onCreateLog()">
        <ion-icon slot="start" name="add-circle"></ion-icon>
        Create Log
      </ion-button>
    </ion-card-content>
  </ion-card>
  <div class="previous-logs">
    <h2 class="ion-padding-horizontal">Sleep Logs</h2>
    <ion-card *ngFor="let sleepLog of sleepService.overnightLogs" class="log">
      <ion-card-header>
        <ion-card-title>
          {{ sleepLog.overnightSleepTitle() }}
        </ion-card-title>
        <ion-card-subtitle>
          Duration: {{ sleepLog.sleepDurationString() }}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-icon name="moon"></ion-icon> 
            {{ sleepLog.overnightSleepStart() }}
          </ion-col>
          <ion-col>
            <ion-icon name="sunny"></ion-icon> 
            {{ sleepLog.overnightSleepEnd() }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{ sleepLog.notes }}
          </ion-col>
        </ion-row>
      </ion-card-content>
      <ion-button fill="clear" color="primary" (click)="showModal($any(sleepLog))">Edit</ion-button>
      <ion-button fill="clear" color="danger" (click)="deleteOvernightSleepLog($any(sleepLog).id)">Delete</ion-button>
    </ion-card>
  </div>
</ion-content>